.body{

    font-family: 'Poppins', sans-serif;
    margin: 0;
     


}
.container{

    display: flex;
}

.stayfocus1{

    width: 50%;
    margin: 50px 120px;
     
}
.stayfocus1 p{

    font-size: 20px;
    text-align: justify;
     
}
.stayfocus2{

    width: 50%;
    margin: 50px 120px;
}
.focuson{
    font-size: 50px;
    border-left: 5px solid;
    border-image: linear-gradient( tomato, gray);
    border-image-slice: 1;
    padding-left: 10px;
     
     

}
.mission{
    font-size: 50px;
    color: burlywood;
    

 

}
.person1{

    width: 300px;
     

}

.explore{

 
    border-radius: 10px;
    background-color:tomato;
    color:white;
    font-weight: 700px;
    padding: 10px 50px;
    text-decoration: none;
    margin-top: 100px;
 
 
}

.mymission{
    font-size: 50px;
    text-align: center;

}
.year{

 font-size: 50px;
 color: burlywood;
 text-align: center;

}

.boxshadow{

    font-size: 25px;
    margin: 40px 10px;
     
}

.boxtext{

    font-size: 20px;
    margin: 40px 10px;
}

.missione{

width: 30%;
 
box-shadow: 10px 10px 40px gray;
border-radius: 15px;
margin: 10px 25px;
padding-top: 15px;
background-color: rgb(140, 148, 163);

}

.missintwo{
    width: 30%;
    
    box-shadow: 10px 10px 40px grey;
    border-radius: 15px;
    margin: 10px 25px;
    padding-top: 15px;
    background-color: rgb(100, 237, 196);



}

.missionthree{

    width: 30%;
    box-shadow: 10px 10px 40px grey;
     border-radius: 15px;
     margin: 10px 25px;
     background-color: cornflowerblue;
     

     
           
}

.imgone{

    width: 130px;
    display: flex;
    margin: 0px 120px;
    /* margin: 0px 200px; */
     
    
     
    

}
  
    
 

.documentaionone{
    width: 40%;
    margin: 100px 150px;
     

}
.documentaiontwo{
    width: 60%;
    margin: 100px 0px;
   
     

}
.documentaiontwo p{


    font-size: 20px;
    text-align: justify;
}

.four{

    width: 350px;
}

.develop{

    font-size: 40px;
     
    
}


.globalone{

    width: 50%;
    margin: 0px 150px;
}

.globalone p{

    font-size: 20px;
    text-align: justify;
}

.globaltwo{
    width: 50%;
    margin: 0px 0px;


}

.five{

    width: 350px;
}

 .contactus{
     margin: 25px 150px;
    width: 50%;
    box-shadow: 10px 10px 40px grey;
    background-color: rgb(140, 148, 163);
    border-radius: 15px;


 }
 .contactus form{

    margin: 20px 20px;
    border-radius: 15px;
 }
 .contactus h1{

    text-align: center;
 }

 .contactusone{
    margin: 100px 0px;
    width: 50%;


    
 }
 .seven{
    width: 350px;
 
 }
 footer{


    height: 200px;
    background-color: tomato;
     
     
 }

 footer p{

    font-size: 40px;
    text-align: center;
    color: white;
    
 }

 footer span{

    color: rgb(54, 39, 19);
 }
 .copy{

    font-size: 20px;
    text-align: center;
    color: white;

 }



 .form-control{

    width: 500px;
    height: 50px;
 }

 #message{

    height: 200px;
    width: 500px;
 }
  
 .fimg{

    width: 40px;
    height: 20px;
    margin: 0px 10px;
    text-align: center;
    margin-bottom: 20px;
 }

 
